{{ define "main" }}
<section class="section" style="margin-top:20px;">
    <div class="sectionHeader">
        <h2>{{ .Title }}</h2>
        <a href="/">Home</a>
    </div>
    <div class="sectionBody" style="display:grid; gap:10px;">
        {{ range .Pages }}
        <a class="blogCard" href="{{ .RelPermalink }}">
            <div class="meta"><span>{{ .Date.Format "Jan 2006" }}</span><span class="dot"></span><span>{{ .ReadingTime
                    }} min read</span></div>
            <h3>{{ .Title }}</h3>
            <p>{{ .Params.summary }}</p>
        </a>
        {{ end }}
    </div>
</section>
{{ end }}